Adafruit-Blinka==6.4.1
adafruit-circuitpython-ads1x15==2.2.8
adafruit-circuitpython-busdevice==5.0.6
adafruit-circuitpython-dht==3.5.8
Adafruit-PlatformDetect==3.4.0
Adafruit-PureIO==1.1.8
amqp==5.0.5
billiard==3.6.3.0
celery==5.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
ephem==3.7.7.1
importlib-metadata==3.7.3
kombu==5.0.2
pkg-resources==0.0.0
prompt-toolkit==3.0.17
pyephem==9.99
pyftdi==0.52.9
pyserial==3.5
pytz==2021.1
pyusb==1.1.1
redis==3.5.3
rpi-ws281x==4.2.6
RPi.GPIO==0.7.0
six==1.15.0
sysv-ipc==1.1.0
typing-extensions==3.7.4.3
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.1
